<head>
    <link href="<%= url('/base.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Main Manu -->

<nav>
<h1>Menu</h1>
<ul>
    <li><a href="/ui/home">Home</a></li>
    <li><a href="/ui/switches/create">Create new Switch</a></li>
    <li><a href="/ui/profiles/create">Create new Profile</a></li>
    <li><a href="/ui/vlans/create">Create new VLAN</a></li>
</ul>
</nav>
<!-- Main content -->
<section class="table-wrapper">

    <h2 class="box-title">Create new Profile</h2>
        <form method="post" action="/ui/profiles/create">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="Name">
            <label for="vlan">Untagged VLAN ID</label>
            <input type="text" class="form-control" name="vlan" value="VLAN">
            <label for="taggedVlans">Tagged VLANs</label>
            <input type="text" class="form-control" name="taggedVlans" value="tagged VLANs">
            
            <button type="submit" name="create">Create</button>
        </form>

</section>