<section class="content-header">
    <h1>
    Create new VLAN
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Create new VLAN</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
        <div class="box-header">
            <h3 class="box-title">Create new VLAN</h3>
        </div>
        <!-- /.box-header -->
        
        <div class="box-body">
            <form method="post" action="/ui/vlans/create">
                <input type="text" class="form-control" name="name" value="Name">
                <input type="text" class="form-control" name="vlanid" value="VLAN ID">
                <label for="create_button">
                <button type="submit" name="create">Create</button></label>
            </form>
            
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>